# Defaults from Android Studio

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures




# ------------------------------


# Ignore all by default
#/*

# /
#!.gitignore
#!build.gradle
#!settings.gradle
#!gradlew

# .idea/
#!.idea/

# gradle/
#!gradle/




#!**/*.java
#!**/*.java

